.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 20px;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.card {
    display: inline-block;
    background-color: darkblue;
}


.card:hover {
    background-color: #000099;
}

h5, p, small {
    color: white;
}

body {
  background-image: url("DA.png");
}

h2 {
    margin: 20px;
}

.form-margin {
    margin: 20px;
}